.account-nav-panel {
  background-color: var(--crust);
  border-radius: 8px;
  max-width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--overlay0);
}

.account-nav-panel-item {
  display: none;
}

.account-nav-panel-link {
  color: var(--text);
}
.active {
  background-color: var(--surface0);
  border-radius: 8px;
}
.showdropdown {
  display: block;
}
.account-content-title {
  font-size: 28px;
  text-align: center;
  display: block;
}
.account-content-container {
  padding-top: 20px;
  width: fit-content;
}
.account-settings-table td {
  padding-bottom: 1em;
  vertical-align: top;
}
.account-settings-labels {
  padding-top: 6px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.text-input {
  max-width: 230px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--mantle);
}
.textarea-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.textarea-input {
  max-width: 310px;
  min-width: 250px;
  height: 100px;
  margin-bottom: 5px;
  background-color: var(--mantle);
}
.buttonwrapper {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.focus-only-button {
  margin-left: 5px;
  transition: all 0.5s ease-in;
}
.hidden {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.nodisplay {
  display: none;
}
.textarea-char-count {
  display: none;
}
.resultbad {
  color: var(--red);
}
.resultgood {
  color: var(--green);
}
.resultmessage {
  text-align: center;
}
.waitingindicator {
  height: 38px;
  margin-top: 15px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .account-nav-panel {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .account-nav-panel-item {
    display: block;
    transition: all 0.2s ease-out;
    line-height: 23px;
  }
  .account-nav-panel-item:hover {
    background-color: var(--surface0);
    transition: all 0.2s ease-in;
    font-size: 18px;
  }
  .active {
    background-color: var(--surface0);
    font-size: 18px;
    border-radius: 0;
  }
  .account-content-wrapper {
    margin-left: 20px;
  }
  .account-content-title {
    text-align: left;
    display: inline;
  }
  .account-content-container {
    width: auto;
  }
  .account-settings-labels {
    text-align: left;
    margin: 0;
  }
  .textarea-char-count {
    float: right;
    margin-right: 5px;
    display: block;
  }
  .text-input {
    margin: 0px;
  }
  .textarea-container {
    margin: 0;
  }
  .textarea-input {
    width: 350px;
  }
  .buttonwrapper {
    width: auto;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .resultmessage {
    margin-left: 5px;
    text-align: left;
  }
}
